.divider {
  height: 2px;
  background: #000;
  margin: 18px 0;
  border-radius: 1px;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.03);
}

.divider.brown {
  background: #3b2f1fab;
  height: 3px;
}
