name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Backend Tests
        run: |
          cd backend
          mvn test

  deploy:
    needs: test 
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Backend
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/dsm/backend:latest ./backend
          docker push ${{ steps.login-ecr.outputs.registry }}/dsm/backend:latest

      - name: Build and Push Frontend
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/dsm/frontend:latest ./frontend
          docker push ${{ steps.login-ecr.outputs.registry }}/dsm/frontend:latest